* { box-sizing: border-box; }

.mapbox {
    position: relative;
    border: 2px solid #4287f56e;
    border-radius: .50em;
    width: 500px;
    height: 500px;
}

.mapbox img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

header {
    font-family: "Edu AU VIC WA NT Hand", cursive, Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    color: white;
}

header h1 {
    font-weight: 500;
    font-size: 32pt;
}

header h2 {
    font-weight: 500;
}

header h1,h2 {
    text-align: center;
    color: white;
    margin: 10px
}

header hr {
    border-radius: .75em;
    border: white solid 1.35px;
}

header hr.small {
    border-radius: .75em;
    border: white solid 1.35px;
    width: 10px; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

main hr {
    border-radius: .75em;
    border: rgba(0, 0, 0, 0.3) solid 1.5px;
}

.banner {
    display: block;
    padding: 10px;
    background-image: linear-gradient(130deg, #4287f56e, #4232f0);
    height: 100%;
    width: 100%;
}

.selector-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin-top: 10px;
}

.select-menu {
    margin-left: 10px;
    color: white;
}

.select-menu-button {
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: #4287f5;
    border-radius: .25em;
    border-color: transparent;
    cursor: pointer;
    width: 100%;
}

.select-menu-arrow {
    float: right;
}

.select-menu-items-container {
    border-radius: .25em;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    font-size: .75em;
    width: 100%;
}

.select-menu-items-container span {
    float: left;
}

.select-menu-items-container div {
    padding: 2.5px;
}

.select-menu-items-container div:first-child:hover {
    background-color: rgba(0,0,0,0.2);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.select-menu-items-container div:hover {
    background-color: rgba(0,0,0,0.2);
    border-left: 3px solid #4287f5;
}

.select-menu-items-container div:last-child:hover {
    background-color: rgba(0,0,0,0.2);
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.pin.neutral {
    background-color: #9e96f1;
    border: #4232f0 solid 1.5px;
}

.pin.correct {
    background-color: #14d179;
    border: #086408 solid 1.5px;
}

.pin.wrong {
    background-color: #e4c00e;
    border: #976f0b solid 1.5px;
}

@keyframes wrong2 {
    0% {
        background-color: #9e96f1;
        border: #4232f0 solid 1.5px;
    }
    20% {
        background-color: #9e96f1;
        border: #4232f0 solid 1.5px;
    }
    40% {
        background-color: #f11010;
        border: #860808 solid 1.5px;
    }
    60% {
        background-color: #f11010;
        border: #860808 solid 1.5px;
    }
    80% {
        background-color: #9e96f1;
        border: #4232f0 solid 1.5px;
    }
    100% {
        background-color: #9e96f1;
        border: #4232f0 solid 1.5px;
    }
}


.pin.show-mistake {
    background-color: #9e96f1;
    border: #4232f0 solid 1.5px;
    animation: wrong2 1.5s linear infinite;
}

.pin.show-mistake-circle span.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(158, 150, 241, 0.5);
    animation: shrinkCircle 2s ease-out 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@keyframes shrinkCircle {
    0% {
        width: 200px;
        height: 200px;
        opacity: 0.7;
    }
    100% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}

.pin.failed {
    background-color: #f11010;
    border: #860808 solid 1.5px;
}

.pin {
    position: absolute;
    border-radius: 100%;
    color: white;
    padding: 3.5px;
    display: flex;
    z-index: 1;
    cursor: pointer;
}

.pin span {
    pointer-events: none;
}

.pin.neutral:hover {
    background-color: #4287f5;
}

.pin .pin-name {
    position: absolute;
    visibility: hidden;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    z-index: 2;
}

.pin.show .pin-name {
    visibility: visible;
    border-radius: .25em;
    font-size: 8pt;
}

.pin.neutral .pin-name {
    background-color: #9e96f1;
    border: #4232f0 solid 1.5px;
}

.pin.correct .pin-name {
    background-color: #14d179;
    border: #086408 solid 1.5px;
}

.pin.wrong .pin-name {
    background-color: #e4c00e;
    border: #976f0b solid 1.5px;
}

.pin.failed .pin-name {
    background-color: #f11010;
    border: #860808 solid 1.5px;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

.pin.peak .pin-name{
    border-radius: .25em;
    font-size: 8pt;
    opacity: 0;
    padding: 2px;
    visibility: visible;
    animation: fade-in-out 3s ease-in-out 1;
    z-index: 2;
}

.pin input {
    visibility: hidden;
    pointer-events: none;
    position: relative;
    width: 100px;
}

.pin.show-input {
    pointer-events: none;
    z-index: 2;
}

.pin span.hint {
    background-color: #9e96f1;
    border: #4232f0 solid 1px;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    padding: 2px;
    border-radius: .25em;
    font-size: 10pt;
    text-align: center;
    overflow: visible;
    overflow-y: visible;
    top: auto;
    bottom: 100%;
    width: 100px;
    max-width: 100px;
    transform: translate(0%, -5px);
}

.pin.show-input span.hint {
    visibility: hidden;
}

.pin.show-input.show-hint span.hint {
    visibility: visible;
}

.pin.show-input input {
    visibility: visible;
    pointer-events: all;
    border-radius: .25em;
    border: #4287f56e solid 2px;
    background-color: #a5c4f5;
    color: white;
}

.pin.show-input input:focus {
    border: #4287f56e solid 2px;
    outline: none;
}

.pin.show-input input:active {
    border: #4287f56e solid 2px;
    outline: none;
}

.pin.show-input.wrong-answer input {
    color: red;
}

.pin.show-input .input-container {
    position: absolute;
    display: flex;
}

.pin .input-container {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.pin.show-input .input-container::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: #a5c4f5ea transparent transparent transparent;
}


#pin-template {
    visibility: hidden;
}

.map-instructions {
    width: 500px;
}

.title {
    margin-top: 15px;
    color: white;
    background-color: #4287f56e;
    border-radius: .25em;
    border: none;
    padding: 8px;
}

.map-instructions span {
    margin: 8px;
}

vr {
  border-left: solid;
  border-radius: .25em;  
  border-width: 2px;
  margin: 10px;
}

.end-popup {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 100px;
    height: 240px;
    width: 300px;
    background-color: rgb(186, 210, 245);
    border: solid rgb(186, 210, 245) 1px;
    color: white;
    border-radius: .75em;
    z-index: 3;
}

.end-popup h2 {
    font-size: 20pt;
}


.end-popup .body {
    margin: 30px;
    align-items: center;
    position: relative;
}

.end-popup .results {
    align-items: center;
    width: 250px;
    font-size: 12pt;
    text-align: center;
    margin-left: -5px;
}

.end-popup .body p {
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.end-popup .body input {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid #4287f5 2px;
    border-radius: .25em;
    background-color: #98bcf7;
    padding: 3px;
    color: white;
}

.end-popup .body input:focus {
    outline: none;
}

.end-popup .body input:active {
    outline: none;
}

.end-popup .body .h-btns {
    margin: 10px;
    margin-top: 20px;
    margin-left: 45px;
    width: fit-content;
}

.btn {
    background-color: #4287f5;
    border: solid #4287f5 1px;
    border-radius: .25em;
    color: white;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.btn:active {
    background-color: #2b7bfa;
}

.end-popup .btn.close {
    pointer-events: all;
    float: right;
    background-color: transparent;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.end-popup.show {
    visibility: visible;
}

.btn.save-score.saved::after {
    position: absolute;
    content: "Saved!";
    background-color: #14d179;
    border: #086408 solid 1.5px;
    border-radius: .25em;
    padding: 2px;
    top: 150px;
    left: 65px;
    cursor: default;
    font-size: 9pt;
    z-index: 2;
    animation: fade-in-out 3s ease-in-out 1;
    opacity: 0;
}

.btn.save-score.no-name-error::after {
    position: absolute;
    content: "Please enter a name";
    max-width: 150px;
    background-color: #f11010;
    border: #860808 solid 1.5px;
    border-radius: .25em;
    padding: 2px;
    top: 150px;
    left: 55px;
    cursor: default;
    font-size: 9pt;
    z-index: 2;
    animation: fade-in-out 3s ease-in-out 1;
    opacity: 0;
}

.end-popup .wait {
    cursor: wait;
}

.inline-container {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 16px;
}

.scoreboard {
    margin-left: 30px;
    width: 300px;
}

.scoreboard.container {
    border: 2px solid #4287f56e;
    border-radius: .50em;
    color: black;
    align-items: center;
    text-align: center;
}

.scoreboard.container h2 {
    color: black;
}

.scoreboard.container .table-container {
    height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px;
}

.scoreboard.container table {
    width: 280px;
}

.scoreboard.container tr {
    margin: 10px;
}

.title-container.inline-container {
    margin-bottom: 10px;
}

.title.scoreboard {
    text-align: center;
    font-weight: bold;
}

.scoreboard.container hr {
    width: 200px;
}